:root{
  --main-color : #9340FF;
  --black:#555;
  --bg:#101728;
  --border : .1rem solid rgba(0,0,0,.1);
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,1);
  --degrade: linear-gradient( to left, #FF3C5F, #9340FF);
}

*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: all .2s ease-out;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
  overflow-x: hidden;
}


